@media screen {
/*
=====================================================
	DEFINIÇÕES GERAIS DO SITE
=====================================================
*/
html, body {font-family: arial;font-size: 14px;line-height: 1.4em;height: 100%;color: #484848;}
p{	color: #333; font-size: 14px; letter-spacing:-0.02em;line-height:1.45em; }
ul li {line-height: 1.5em;padding-left: 18px;background: url('/layout/images/icon-ul.gif') no-repeat 0px 4px;display: block;}

/*
=====================================================
	LINKS
=====================================================
*/

a {color: #FF3800;text-decoration: none;}
a:visited, a.visited {color: #FF3800;text-decoration: none;}
a:hover, a.hover {color: #FF3800;text-decoration: underline;}

/*
=====================================================
 TÍTULOS PADRÕES
=====================================================
*/

h1, h2, h3, h4, h5, h6 {font-family: 'Arial' !important;margin-bottom: 10px;color: #444;}
h1, h2, h3, h4 {font-weight: bold;}
h5, h6 {font-weight: normal;}
h1 {font-size: 32px;line-height: 36px;}
h2 {font-size: 24px;line-height: 28px;}
h3 {font-size: 20px;line-height: 24px;}
h4 {font-size: 18px;line-height: 22px;}
h5 {font-size: 16px;line-height: 20px;}
h6 {font-size: 11px;line-height: 13px;}

/*
=====================================================
	TÍTULO DAS PÁGINAS INTERNAS
=====================================================
*/

#internal-title {font-size: 32px;line-height: 36px;color: #444;font-weight: bold;margin-bottom: 20px;text-transform:uppercase;}

/*
===================================================== 
	TÍTULOS COM LINKS
=====================================================
*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {color: #666;text-decoration: none;}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {color: #999;text-decoration: none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color: #999;border-bottom: 2px solid #999;text-decoration: none;}

/*
=====================================================
	BUTTONS
=====================================================
*/

button span {padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin:0 auto;font-size: 18px;font-weight: bold;line-height: 12px;}
button img {}
button .enable_icon, a.button .enable_icon {}
a.button span {}
a.button, button {border:1px solid #CCC;background: #FFF;position:relative;padding:1px;}
a.button span, button span {
	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #FFFFFF, #CCCCCC);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #FFFFFF, #CCCCCC);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #FFFFFF, #CCCCCC);
  	color: #444;
}
a.button:hover, button:hover, a.sel, button.hover {border:1px solid #FE3F04;background: #FFF;position:relative;}
a.button:hover span, button:hover span, a.sel span, button.hover span {background: #FE3F04;color: #FFF;}
a.button:active, button:active, button.active {}
a.button:active span, button:active span, button.active span {}
a.button img {}
*:first-child+ html button img {}
* html button img {}

/* 
=====================================================
	FORMS
=====================================================
*/

.form .large {width: 680px;}
.form .medium {width: 340px;}
.form .small {width: 170px;}

/*  
=====================================================
 TABLES
=====================================================
*/

table {}
table td {}
thead {}
thead th, thead td {background: #f5f5f5 !important;border: 1px solid #DDD;color: #444;padding-left: 10px;line-height: 60px;text-align: center;font-size: 18px;font-weight: normal;}
th {}
th, td {}
thead td {}
tbody td {border: 1px solid #DDD;color: #666;text-align:center;padding-left: 10px;line-height: 40px;font-size: 14px;font-weight: normal;}
tr.impar td {}
tfoot {}
caption {}

/*
=====================================================
	CSS DAS PÁGINAS
=====================================================
*/

#page-wrapper {min-height: 100% !important;position: relative;}
#page-wrapper-interna {min-height: 100% !important;position: relative;}
#page-container {width: 100%;margin-left: auto;margin-right: auto;}
#page-block {}
#content-wrapper {position:relative;width:100%;height: 100%;padding-bottom: 20px;}
#content-container {position:relative;width:960px;margin:0 auto;padding-top: 20px;}

/* 
=====================================================
	CABEÇALHO
=====================================================
*/

#header-wrapper {width: 100%;height: 200px;position: relative;}
#header {position:relative;width: 960px;height:100px;padding-top: 40px;margin:0 auto;}
#logo {width: 240px;height: 60px;position: absolute;top:35px;left:0px;}
#buscar {width: 240px;height: 35px;position: absolute;top:50px;right:0px;}
#area-dinamica{width:960px;height:50px;margin:0 auto;}
#data{width:280px;height:20px;line-height:20px;padding-top:30px;font: normal 12px arial;color:#999;float:left;}
#header-links{width:680px;height:40px;line-height:14px;border-bottom: 1px solid #dfdfdf;font: bold 12px arial;color: #999;text-align: right !important;float:right;}
#header-links p{padding-top:20px;}

/* 
=====================================================
	MENU PRINCIPAL
=====================================================
*/
#caixa-menu {height:60px;position: relative;background:#f5f5f5;border-bottom:1px solid #AAA;}
#menu * {margin: 0;padding: 0;}
#menu {width: 960px !important;margin:0 auto;*position: relative;z-index: 1000 !important;border-top:1px solid #AAA;}
#menu a {color:#444;height:60px;text-decoration: none;text-transform: uppercase;}
#menu ul {list-style: none;float:right;width:910px;margin: 0;}
#menu ul li a{height:60px !important;font:bold 14px 'Arial' !important;background: none;list-style: none !important;padding-left: 17px;padding-right: 17px;line-height: 60px;color: #444;}
#menu ul li a span{position:relative;top:10px;}
#menu .capa a{float: left;display: block;height: 60px;font-weight: bold;font-size: 14px;font-family: 'Arial' !important;padding-left:0px;padding-right:0px;line-height: 60px;color: #444;text-decoration: none;text-transform: uppercase;}
#menu .capa a:hover,#menu .capa a.active{color: #FE3F04;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:-21px;}
#menu ul ul li {*position: relative;z-index: 1000 !important;height:35px !important;}
#menu ul ul ul li {*position: relative;z-index: 1000 !important;padding: 5px 10px 5px 10px;}
/*LEVEL ONE*/
#menu ul {z-index: 1000 !important;position: relative;height:60px;}
#menu ul li {font-weight: normal !important;float: left;height:60px;text-align: left;zoom: 1;background-image:none;}
#menu ul li a span{height:60px;line-height:40px;}
#menu ul li.first {padding-left: 0px !important;}/* Doesn't work in IE */
#menu ul li.hover, #menu ul li:hover, #menu ul li.hover ul, #menu ul li:hover ul{background: transparent;color: #FE3F04;}
#menu ul li.hover ul, #menu ul li:hover ul{margin-top:0px;border-bottom:1px solid #AAAAAA;border-right:1px solid #AAAAAA;border-left:1px solid #AAAAAA;}
#menu ul li.hover a, #menu ul li:hover a {margin-bottom:21px;color: #FE3F04;background-color: transparent;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:0px;}
#menu ul li a {display: block;color: #444;}
#menu ul li a:hover, #menu ul li.selected a.active:hover, #menu ul li.selected:hover a.active,#menu ul li a.active {color: #FE3F04;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:-21px;}
#menu ul li:last-child {}/* Doesn't work in IE */
/*LEVEL TWO*/
#menu ul ul {z-index: 1000 !important;margin-left: 35px;width:160px;height:auto;background: #FFF !important;visibility: hidden;position: absolute;top: 100%;margin-top:0px;color: #444 !important;border: none;padding-top: 0px;padding-bottom: 0px;}
#menu ul ul li {z-index: 1000 !important;font-weight: normal;background: #FFF !important;color: #444 !important;border-bottom:1px solid #DDD !important;float: none;}
#menu ul ul li:last-child {padding-bottom: 0px;border-bottom:none !important;}
/* IE 6 & 7 Needs Inline Block */
#menu ul ul li a {background-image:none;padding:0px;overflow:hidden;height: 35px !important;line-height:25px !important;font:normal 16px arial !important;*position: relative;color: #444 !important;margin-top:0px !important;margin-bottom:0px !important;background: #FFF;z-index: 1000 !important;text-transform: none !important;width: 100%;display: inline-block;}
#menu ul li ul li a span{top:0px;padding:0px 0px 0px 10px;}
#menu ul li.hover ul li a, #menu ul li:hover ul li a{background-image:none !important;}
#menu ul ul li a:hover {height: 35px !important;line-height:25px !important;overflow:hidden;background: #EEE !important;color: #FE3F04 !important;}
/*LEVEL THREE*/
#menu ul ul ul {z-index: 1000 !important;margin-left:0px;left: 100%;top:auto;position:absolute;margin-top:-36px !important;border: 1px solid #AAA;}
#menu ul li:hover > ul {z-index: 1000 !important;visibility: visible;color: #444 !important;}
#menu ul ul ul li {padding:0px;}
#menu ul ul ul li:last-child {}
#menu ul ul ul li a {}
#menu ul li ul li ul li a span{}
	
/* 
=====================================================
	BREADCRUMBS
=====================================================
*/

#sidebar-menu{width:960px;height:100%;min-height:40px;margin:0 auto;}
#sidebar-menu ul, #sidebar-menu li {padding:0px;margin:0px;background:none;}
#sidebar-menu li {display:inline;}
#sidebar-menu a {float:left;display:block;padding-left:10px;padding-right:16px;height:40px;font:normal 16px Arial;line-height:34px;color:#FE3F04;background:url('/layout/images/seta.gif') no-repeat top right;}
#sidebar-menu a.first,#sidebar-menu a.unique{padding-left:0px !important;}
#sidebar-menu a:hover {text-decoration:none;color:#FE3F04;}
#sidebar-menu a.unique,#sidebar-menu a.last {margin-right:0px;}
#sidebar-menu li a,#sidebar-menu li a.last {margin-right:0px;}
#sidebar-menu li a {padding-right:10px;padding-left:10px;font:normal 16px Arial;line-height:34px;color:#666;background:none;}
#sidebar-menu li.last a {background:none;}

/*
=====================================================
	ÁREAS EDITÁVEIS (CONTEÚDO E BARRA LATERAL)
=====================================================
*/

#content {width: 640px;}
#sidebar-block {width: 300px;}
#barra-lateral {}
.barra-lateral-exclusiva {}
.barra-lateral-recursiva {}

/* 
=====================================================
	RODAPÉ
=====================================================
*/

#caixa-rodape {width: 100%;min-height: 80px !important;position: relative !important;bottom: 0px !important;padding-bottom: 0px !important;margin-top: 20px;background-color:#f5f5f5;}
#caixa-rodape.modificado {position: absolute !important;}
#footer-wrapper {position:relative;margin:0 auto;text-align:center;width: 960px;height:auto;border-top: 1px solid #AAA;padding-top: 20px;}
#footer-wrapper p {text-align:center;margin: 0px;}
#footer {width: 960px;font: 11px arial;color: #444;line-height: 1.4em;}
#footer a {text-decoration: none;}
#footer a:hover {text-decoration: underline;}
#rodape {}
#rodape p {font: 14px arial;color: #444;line-height: 1.4em;}
#bimboo, #bimboo a {font: 14px arial;color: #444;line-height: 1.4em;}

/* 
=====================================================
	COMPONENTE BUSCA
=====================================================
*/

#search {width: 240px;height: 32px;border: 1px solid #DDD;position: relative;margin-right: 0px;margin-top: 0px;
/* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
/* Safari 5.1, Chrome 10+ */
background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
/* Firefox 3.6+ */
background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
/* IE 10 */
background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
}
#search .search-texto {font:normal 12px arial;color:#AAA;border: none;background: none;width: 150px !important;height: 20px;padding-top: 6px;padding-left: 10px;}
#search .search-imagem {width: 70px;height: 34px;display: block;position: absolute;top: -1px;right: -1px;cursor: pointer !important;}
#search .search-caixa {width:240px;height:32px;position:absolute;}

/*
=====================================================
	COMPONENTE CAIXAS
=====================================================
*/

.caixa-padrao, .caixa-padrao-com-borda {}
.caixa-padrao-com-borda{border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.caixa-padrao .box-content, .caixa-padrao-com-borda .box-content {}
.caixa-padrao .bx_title, .caixa-padrao-com-borda .bx_title {padding-left: 10px;height: 40px;font: normal 20px arial;color: #444;text-transform: none;background-color: #f5f5f5;position: relative;line-height: 40px;}
.caixa-padrao .bx_title {border: 1px solid #DDD;}
.caixa-padrao-com-borda .bx_title {border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;}
.caixa-padrao .bx_footer, .caixa-padrao-com-borda .bx_footer {text-align: right;border-top: 1px dotted #CCC;font: normal 14px Arial;color: #000000;padding: 8px;padding-top: 10px;padding-bottom: 10px;background: none;}
.caixa-padrao-com-borda .bx_footer{margin-left:10px;margin-right:10px;}
.caixa-padrao .bx_links, .caixa-padrao-com-borda .bx_links {font: normal 14px Arial;position: absolute;width: 200px;height: 20px;right: 10px;top: 10px;text-align: right;}

.caixa-mais-lidas {border-left: 1px solid #DDD;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD;border-top: 3px solid #FE3F04;}
.caixa-mais-lidas .box-content {}
.caixa-mais-lidas .bx_title {font: normal 20px arial; color:#444; padding: 10px 10px 0px 10px;}
.caixa-mais-lidas .bx_footer {}
.caixa-mais-lidas .bx_links {}

/*
=====================================================
	COMPONENTE CONTEÚDO RELACIONADO
=====================================================
*/

.conteudo-relacionado{border-left: 1px solid #DDD;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD;border-top: 3px solid #FE3F04;}
.conteudo-relacionado .bx_title{padding-left: 10px;height: 40px;font: normal 20px arial;color: #444;text-transform: none;position: relative;line-height: 40px;}
.conteudo-relacionado .bT{padding:0px 10px 10px 10px;}
.conteudo-relacionado-lista{}
.conteudo-relacionado-lista .lista-titulo-pequeno {border-bottom: 1px dotted #DDD;padding-bottom:10px;margin-bottom:5px;margin-left:10px;padding-right:10px;}
.conteudo-relacionado-lista .lista-titulo-pequeno, .conteudo-relacionado-lista .lista-titulo-pequeno a, .conteudo-relacionado-lista .lista-titulo-pequeno a:visited {background:transparent;font:normal 16px arial !important;}
.conteudo-relacionado .last .lista-titulo-pequeno{margin-bottom:10px;}
.conteudo-relacionado-lista div.fl{display:none;}

/* 
=====================================================
	COMPONENTE MAIS LIDAS
=====================================================
*/

.lista-links{}
.lista-links div {padding-top:2px;padding-bottom:2px;}
.lista-links ul, .lista-links ul li {padding-left:0px;margin-left:0px;}
.lista-links ul{margin: 0px 0px 10px 0px !important;height: auto;position: relative;}
.lista-links ul li{margin-bottom:0px !important;list-style-type:none ;display:inline-block;width:290px !important; height:auto !important;border-bottom:1px dotted #DDD !important;background-image:none;background-color:transparent !important;padding-left:0px !important;}
.lista-links .lista-titulo-pequeno{font:normal 16px Arial !important;color:#FE3F04;}
.lista-links a,.lista-links a:visited {display:block;padding:10px;}
.lista-links a {clear:both;background-color:#FFF !important;background-image:none;text-decoration:none;}
.lista-links a:visited {background-color:transparent !important;}
.lista-links a:hover {text-decoration:underline;background-image:none;background-color:transparent !important;color:#FE3F04;}

/*
=====================================================
	COMPONENTE DIVISOR HORIZONTAL
=====================================================
*/

.hr {border-style: dotted;}

/* 
=====================================================
	COMPONENTE OLHO DA MATÉRIA
=====================================================
*/

blockquote {margin-bottom: 20px;background: #FFF url('/layout/images/blockquote.gif') no-repeat;padding-left: 50px;}
blockquote h1 {font: normal 26px Arial;color: #444;}
blockquote h3 {font: normal 20px Arial;color: #999;}

/* 
=====================================================
 COMPONENTE COMENTÁRIOS
=====================================================
*/

/*COMENTÁRIO ROTATIVO*/
#comentario_rotativo {padding-top: 20px;position: relative;width: 100% !important;height: 100% !important;}
#comentario_rotativo h4 {font-size: 20px;font-weight: normal;color: #666;border: none;margin-bottom: 20px;line-height: 24px;}
#comentario_rotativo p {font-size: 16px;line-height: 20px;font-weight: bold;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;position: relative;color: #666;}
#comentario_rotativo h4.center {text-align: center;}
#comentario_rotativo a:hover {text-decoration: none;border-bottom:none;}

/*COMENTÁRIO PADRÃO*/
.comments_default input,.comments_default textarea, .comment-bubble-wrapper{background-color:#FFF !important;}
.comments_default p {color:#444 !important;}
.comment-bubble .comment-indicator {position: absolute;background: url('/layout/images/indicator.png') no-repeat;width: 25px;height: 13px;bottom: -13px;left: 40px;}
.comment-bubble cite {padding-top: 5px;display: block;font:bold 12px Arial;padding-left:75px;}
.comments_default .form input, .form textarea{background-image:none;}
/*
=====================================================
	COMPONENTE NEWSLETTER
=====================================================
*/

#newsletter input{width:98%;font:12px arial;color:#666;background:#FFF;padding-left:5px;padding-top:5px;padding-bottom:5px;}
#newsletter h1{}
.noprn input, .noprn textarea{}

/*
=====================================================
	COMPONENTE TABS
=====================================================
*/

.tabs_component {display: block;margin-bottom: 20px;}
/* TAB HORIZONTAL */
.tab_default ul.tabs-menu {margin: 0px;height: 40px;position: relative;}
.tab_default ul.tabs-menu li {list-style-type: none;}
.tab_default ul.tabs-menu li {float: left;display: block;padding-right: 10px;padding-left: 10px;margin-right: 0px;font-size: 18px;font-family: arial;background: #f5f5f5;color: #444;cursor: pointer;height: 40px;line-height: 40px;margin-top: 0px;border-top: 1px solid #DDD;border-right: 1px solid #DDD;border-left: 1px solid #DDD;box-sizing: border-box;-moz-box-sizing: border-box;}
.tab_default ul.tabs-menu li.hover {background: #f5f5f5;color:#444;}
.tab_default ul.tabs-menu li.active {background: #FFF;height: 41px;line-height: 41px;}
.tab_default .tabs_content {padding: 10px;border: 1px solid #CCC;background: #FFF;box-sizing: border-box;-moz-box-sizing: border-box;}
.tab_default .tabs_content p:last-child {margin: 0px;padding: 0px;}
/* TAB VERTICAL */
.tab_default_vertical ul.tabs-menu {margin: 0px;position: relative;float: left;width: 200px;box-sizing: border-box;-moz-box-sizing: border-box;margin-top: 0px;}
.tab_default_vertical ul.tabs-menu li {list-style-type: none;}
.tab_default_vertical ul.tabs-menu li {display: block;margin-right: 5px;background: #f5f5f5;font-size: 16px;color:#444;border-left: 1px solid #DDD;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;cursor: pointer;height: 36px;line-height: 36px;margin-top: 3px;box-sizing: border-box;-moz-box-sizing: border-box;padding-right: 10px;padding-left: 10px;}
.tab_default_vertical ul.tabs-menu li.first {margin-top:0px;}
.tab_default_vertical ul.tabs-menu li.hover {background: #f5f5f5;color: #444;border-left: 1px solid #DDD;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;}
.tab_default_vertical ul.tabs-menu li.active {background: #FFF;color: #444;height: 36px;line-height: 36px;border-left: 1px solid #DDD;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;margin-right: 4px;}
.tab_default_vertical .tabs_content {background: #FFF;box-sizing: border-box;-moz-box-sizing: border-box;margin-left: 195px;border: 1px solid #DDD;height: auto;padding: 15px;}
.tab_default_vertical .tabs_content p:last-child {margin: 0px;padding: 0px;}

/*  
=====================================================
	COMPONENTE COLUNAS
=====================================================
*/

.columns .cl_f, .columns .cl_n { padding-right: 0px;padding-left: 0px;}
.columns .cl_f .wrapper, .columns .cl_n .wrapper {}
.columns .cl_l {}
.columns .cl_l .wrapper {}

/* 
=====================================================
 LISTAS E BLOCOS DE DESTAQUE
=====================================================
*/

.lista-titulo-grande, .lista-titulo-grande a, .lista-titulo-grande a:hover, .lista-titulo-grande a:visited {font: bold 22px arial;line-height:24px;letter-spacing:-1px;color: #FE3F04;}
.lista-titulo-grande a:hover {border-bottom: 2px solid #FE3F04;}
.lista-titulo-medio, .lista-titulo-medio a, .lista-titulo-medio a:hover, .lista-titulo-medio a:visited {font: bold 16px arial;line-height:18px;letter-spacing:-1px;color: #FE3F04;}
.lista-titulo-medio a:hover {border-bottom: 2px solid #FE3F04;}
.lista-titulo-pequeno, .lista-titulo-pequeno a, .lista-titulo-pequeno a:hover, .lista-titulo-pequeno a:visited {font: bold 12px arial;line-height:14px;color: #FE3F04;}
.lista-titulo-pequeno a:hover {text-decoration:underline;border-bottom:none;}
.bloco-titulo-grande, .bloco-titulo-grande a, .bloco-titulo-grande a:hover, .bloco-titulo-grande a:visited {font: bold 18px arial;line-height:20px;letter-spacing:-1px;color: #FE3F04;margin-bottom:5px;}
.bloco-titulo-grande a:hover {border-bottom: 2px solid #FE3F04;}
.bloco-titulo-medio, .bloco-titulo-medio a, .bloco-titulo-medio a:hover, .bloco-titulo-medio a:visited {font: bold 16px arial;line-height:18px;letter-spacing:-1px;color: #FE3F04;margin-bottom:5px;}
.bloco-titulo-medio a:hover {border-bottom: 2px solid #FE3F04;}
.bloco-titulo-pequeno, .bloco-titulo-pequeno a, .bloco-titulo-pequeno a:hover, .bloco-titulo-pequeno a:visited {font: normal 16px arial;color: #FE3F04;}
.bloco-titulo-pequeno a:hover {text-decoration: underline;border-bottom: none;}
.categoria, .data {font: normal 12px arial;color: #888;margin-bottom:5px;text-transform:uppercase;}
.resumo {font: normal 14px arial;color: #999;}
.borda {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDD;border-radius: 0px 0px 0px 0px;box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);padding: 5px;}

/* 
=====================================================
	LISTA BLOG
=====================================================
*/

.lista-blog {}
.lista-blog .blog-button {float: right;width: 180px;}
.blog-status-container {float: left;width: 480px;margin-top: -5px;}
.blog-comments {background: url('/layout/images/icon-blog-comment.gif') no-repeat;width: 300px;font: normal 11px arial;margin-top: -10px;}
.lista-blog .categoria {margin-bottom: 10px;}
.lista-blog .resumo {}
.lista-blog .borda {}

/*
=====================================================
	LISTA 1 COLUNA
=====================================================
*/

.lista-1-coluna {}
.lista-1-coluna .lista-titulo-grande, .lista-1-coluna .lista-titulo-grande a, .lista-1-coluna .lista-titulo-grande a:visited {}
.lista-1-coluna .categoria {}
.lista-1-coluna .resumo {}
.lista-1-coluna .borda {}

/*
=====================================================
	LISTA 2 COLUNAS
=====================================================
*/

.lista-2-colunas {}
.lista-2-colunas .lista-titulo-grande, .lista-2-colunas .lista-titulo-grande a, .lista-2-colunas .lista-titulo-grande a:visited {}
.lista-2-colunas .categoria {}
.lista-2-colunas .resumo {}
.lista-2-colunas .borda {}

/*
=====================================================
	LISTA 3 COLUNAS 640
=====================================================
*/

.lista-3-colunas {}
.lista-3-colunas .lista-titulo-medio, .lista-3-colunas .lista-titulo-medio a, .lista-3-colunas .lista-titulo-medio a:visited {}
.lista-3-colunas .categoria {}
.lista-3-colunas .resumo {}
.lista-3-colunas .borda {}

/* 
=====================================================
	LISTA 3 COLUNAS 960
=====================================================
*/

.lista-3-colunas-full {}
.lista-3-colunas-full .lista-titulo-grande, .lista-3-colunas-full .lista-titulo-grande a, .lista-3-colunas-full .lista-titulo-grande a:visited {}
.lista-3-colunas-full .categoria {}
.lista-3-colunas-full .resumo {}
.lista-3-colunas-full .borda {}

/* 
=====================================================
	LISTA 4 COLUNAS 960
=====================================================
*/

.lista-4-colunas-full {}
.lista-4-colunas-full .lista-titulo-medio, .lista-4-colunas-full .lista-titulo-medio a, .lista-4-colunas-full .lista-titulo-medio a:visited {}
.lista-4-colunas-full .categoria {}
.lista-4-colunas-full .resumo {}
.lista-4-colunas-full .borda {}

/* 
=====================================================
	LISTA COMPACTA COM HORA
=====================================================
*/

.lista-compacta-com-hora {}
.lista-compacta-com-hora .lista-titulo-medio, .lista-compacta-com-hora .lista-titulo-medio a, .lista-compacta-com-hora .lista-titulo-medio a:visited {margin-bottom:0px;}
.lista-compacta-com-hora .categoria {padding-top:0px;}
.lista-compacta-com-hora .resumo {}
.lista-compacta-com-hora .data {font:bold 14px arial;color: #999;margin-bottom:20px;text-transform:none;}

/* 
=====================================================
	LISTA COMPACTA COM DATA
=====================================================
*/

.lista-compacta-com-data {}
.lista-compacta-com-data .lista-titulo-medio, .lista-compacta-com-data .lista-titulo-medio a, .lista-compacta-com-data .lista-titulo-medio a:visited {margin-bottom:0px;}
.lista-compacta-com-data .categoria {padding-top:0px;}
.lista-compacta-com-data .resumo {}
.lista-compacta-com-data .data {font:bold 14px arial;color: #999;margin-bottom:20px;text-transform:none;}

/* 
=====================================================
	LISTA MINI COMPACTA COM HORA
=====================================================
*/

.lista-mini-compacta-com-hora {}
.lista-mini-compacta-com-hora .lista-titulo-pequeno, .lista-mini-compacta-com-hora .lista-titulo-pequeno a, .lista-mini-compacta-com-hora .lista-titulo-pequeno a:visited {font:normal 16px arial;}
.lista-mini-compacta-com-hora .categoria {padding-top:0px;font:normal 11px arial;margin-bottom:0px;}
.lista-mini-compacta-com-hora .data {font:bold 14px arial;color: #999;margin-bottom:20px;text-transform:none;}

/* 
=====================================================
	LISTA MINI COMPACTA COM DATA
=====================================================
*/

.lista-mini-compacta-com-data {}
.lista-mini-compacta-com-data .lista-titulo-pequeno, .lista-mini-compacta-com-data .lista-titulo-pequeno a, .lista-mini-compacta-com-data .lista-titulo-pequeno a:visited {font:normal 16px arial;}
.lista-mini-compacta-com-data .categoria {padding-top:0px;font:normal 11px arial;margin-bottom:0px;}
.lista-mini-compacta-com-data .data {font:bold 14px arial;color: #999;margin-bottom:20px;text-transform:none;}

/* 
=====================================================
	BLOCO  DINÂMICO VERTICAL GRANDE
=====================================================
*/

.bloco-vertical-grande {}
.bloco-vertical-grande .bloco-titulo-grande, .bloco-vertical-grande .bloco-titulo-grande a, .bloco-vertical-grande .bloco-titulo-grande a:visited {}
.bloco-vertical-grande .categoria {}
.bloco-vertical-grande .resumo {}
.bloco-vertical-grande .borda {}

/*
=====================================================
	BLOCO  DINÂMICO VERTICAL MÉDIO
=====================================================
*/

.bloco-vertical-medio {}
.bloco-vertical-medio .bloco-titulo-medio, .bloco-vertical-medio .bloco-titulo-medio a, .bloco-vertical-medio .bloco-titulo-medio a:visited {}
.bloco-vertical-medio .categoria {}
.bloco-vertical-medio .resumo {}
.bloco-vertical-medio .borda {}

/* 
=====================================================
	BLOCO  DINÂMICO HORIZONTAL GRANDE
=====================================================
*/

.bloco-horizontal-grande {}
.bloco-horizontal-grande .bloco-titulo-grande, .bloco-horizontal-grande .bloco-titulo-grande a, .bloco-horizontal-grande .bloco-titulo-grande a:visited {}
.bloco-horizontal-grande .categoria {}
.bloco-horizontal-grande .resumo {display:none;}
.bloco-horizontal-grande .borda {}

/* 
=====================================================
	BLOCO  DINÂMICO HORIZONTAL PEQUENO
=====================================================
*/

.bloco-quadrado-pequeno {}
.bloco-quadrado-pequeno .bloco-titulo-grande, .bloco-quadrado-pequeno .bloco-titulo-grande a, .bloco-quadrado-pequeno .bloco-titulo-grande a:visited {}
.bloco-quadrado-pequeno .categoria {}
.bloco-quadrado-pequeno .borda {}

/* 
=====================================================
	BLOCO TEXTO TÍTULO COM DATA
=====================================================
*/

.bloco-titulo-data {}
.bloco-titulo-data .bloco-titulo-pequeno, .bloco-titulo-data .bloco-titulo-pequeno a, .bloco-titulo-data .bloco-titulo-pequeno a:visited {}
.bloco-titulo-data .data {}

/* 
=====================================================
	BLOCO TEXTO TÍTULO COM CATEGORIA
=====================================================
*/

.bloco-titulo-categoria {}
.bloco-titulo-categoria .bloco-titulo-pequeno, .bloco-titulo-categoria .bloco-titulo-pequeno a, .bloco-titulo-categoria .bloco-titulo-pequeno a:visited {}
.bloco-titulo-categoria .categoria {}

/* 
=====================================================
	BLOCO TEXTO TÍTULO COM MARCADOR
=====================================================
*/

.bloco-titulo-marcador {}
.bloco-titulo-marcador img{padding-top: 0px;}
.bloco-titulo-marcador .bloco-titulo-pequeno, .bloco-titulo-marcador .bloco-titulo-pequeno a, .bloco-titulo-marcador .bloco-titulo-pequeno a:visited {}

/*
=====================================================
	BLOCO SCROLL HORIZONTAL
=====================================================
*/

/* Navbar */
.sliderkit {min-height: 280px;height:auto;overflow: visible;}
.sliderkit-nav {left: 0;bottom: 0;width: 100%;min-height: 280px;height:auto;padding: 0;background: none;top: 0px;margin-left: 0px;position: absolute;}
.sliderkit-nav-clip ul li {float: left;width: 235px;min-height: 280px;height:auto;margin-right: 0px;text-align: left;background: none;}
.sliderkit-nav-clip ul li > a img {display: block;width: 235px;height: 176px;margin: 0;opacity: 1;}
.sliderkit-nav-clip ul li > a:hover {opacity: 1;}
.sliderkit-nav-clip ul li p {font-size: 0.9em;}
.sliderkit-nav-clip ul li .rlt-link-readmore:hover {text-decoration: underline;}
.sliderkit ul li {padding-right: 7px;padding-left: 0px;}
.sliderkit span {margin-bottom: 10px !important;}
.sliderkit .sliderkit-count {display:none;position: absolute;top: -30px;right: 30px;z-index: 10;padding: 5px;color: #666;background: none;}
.sliderkit .sliderkit-nav-btn {position: absolute;top: -40px;}
.sliderkit .sliderkit-nav-btn span {display: none;}
.sliderkit .sliderkit-nav-btn a {display: block;z-index: 10;width: 25px;height: 25px;background: transparent url("/layout/images/arrows-h-btn.png") no-repeat 0 0;}
.sliderkit .sliderkit-nav-prev {left: 909px;}
.sliderkit .sliderkit-nav-next {right: 0px;}
.sliderkit .sliderkit-nav-prev a {background-position: 0 0;}
.sliderkit .sliderkit-nav-next a {background-position: 0 -25px;}
.sliderkit .sliderkit-nav-prev a:hover, .sliderkit-nav .sliderkit-nav-prev a:focus {background-position: -25px 0;}
.sliderkit .sliderkit-nav-next a:hover, .sliderkit-nav .sliderkit-nav-next a:focus {background-position: -25px -25px;}
.sliderkit .sliderkit-btn-disable a {cursor: default;}
.sliderkit .sliderkit-nav-prev.sliderkit-btn-disable a {background-position: -50px 0;}
.sliderkit .sliderkit-nav-next.sliderkit-btn-disable a {background-position: -50px -25px;}
.sliderkit .sliderkit-nav-clip .borda{padding:0px;border:none;}
.sliderkit .bloco-titulo-grande a{display:inline !important;}

/*
=====================================================
	BLOCO SCROLL VERTICAL
=====================================================
*/

li.scroll-vertical-li {padding-right: 0px !important;}
.sliderkit-nav-clip ul li .scroll-vertical {float: left !important;width: 235px !important;margin-right: 0px !important;text-align: left !important;background: none;}
.sliderkit-nav-clip ul li .scroll-vertical > a img {display: block;width: 235px;height: 176px;margin: 0;opacity: 1;}
.sliderkit-nav-clip ul li .scroll-vertical > a:hover {opacity: 1;}
.sliderkit-nav-clip ul li .scroll-vertical p {font-size: 0.9em;}
.sliderkit-nav-clip ul li .scroll-vertical .rlt-link-readmore:hover {text-decoration: underline;}
.sliderkit .scroll-vertical .sliderkit-count {display:none;top: 265px;right: 462px;}
.sliderkit ul li .scroll-vertical {padding-right: 7px !important;padding-left: 0px;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-btn {position: absolute;top: -40px;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-btn span {display: none;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-btn a {display: block;z-index: 10;width: 25px;height: 25px;background: transparent url("/layout/images/arrows-h-btn2.png") no-repeat 0 0;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-prev {left: 909px;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-next {right: 0px;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-prev a {background-position: 0 0;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-next a {background-position: 0 -25px;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-prev a:hover, .sliderkit-nav .scroll-vertical .sliderkit-nav-prev a:focus {background-position: -25px 0;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-next a:hover, .sliderkit-nav .scroll-vertical .sliderkit-nav-next a:focus {background-position: -25px -25px;}
.sliderkit-nav .scroll-vertical .sliderkit-btn-disable a {cursor: default;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-prev.sliderkit-btn-disable a {background-position: -50px 0;}
.sliderkit-nav .scroll-vertical .sliderkit-nav-next.sliderkit-btn-disable a {background-position: -50px -25px;}

/* 
=====================================================
	BLOCO  ROTATIVO VERTICAL
=====================================================
*/

.bloco-rotativo-vertical {max-height:350px;overflow:hidden;position:relative;}
.bloco-rotativo-vertical .bloco-titulo-grande, .bloco-rotativo-vertical .bloco-titulo-grande a, .bloco-rotativo-vertical .bloco-titulo-grande a:visited {height:100%;}
.bloco-rotativo-vertical a:hover{border:none !important;}
.bloco-rotativo-vertical .categoria {}
.tabs-rotativo-vertical {display: block;height: 25px;width: 100%;border-top: 1px solid #DBDBDB;}
.tabs-rotativo-vertical .bt-esquerdo a {display: block;width: 80px;height: 25px;float: left;background: url('/layout/images/bt-esq.png') no-repeat top;}
.tabs-rotativo-vertical .bt-esquerdo a:hover {background: url('/layout/images/bt-esq-h.png') no-repeat top;}
.tabs-rotativo-vertical .bt-direito a {display: block;width: 80px;height: 25px;float: right;background: url('/layout/images/bt-dir.png') no-repeat top;}
.tabs-rotativo-vertical .bt-direito a:hover {background: url('/layout/images/bt-dir-h.png') no-repeat top;}
.tabs-rotativo-vertical a, .tabs-rotativo-vertical a:hover, .tabs-rotativo-vertical a:focus, .tabs-rotativo-vertical a.selected {text-decoration: none;border: none;outline: none;}
.tabs-rotativo-vertical .contador{font: normal 11px arial !important;color:#999;}

/* 
=====================================================
	BLOCO  ROTATIVO HORIZONTAL
=====================================================
*/

.bloco-rotativo-horizontal {max-height:250px !important;overflow:hidden;position:relative;}
.bloco-rotativo-horizontal .bloco-titulo-grande, .bloco-rotativo-horizontal .bloco-titulo-grande a, .bloco-rotativo-horizontal .bloco-titulo-grande a:visited {height:100%;}
.bloco-rotativo-horizontal a:hover{border:none !important;}
.bloco-rotativo-horizontal .categoria {}
.tabs-rotativo-horizontal {display: block;height: 25px;width: 100%;border-top: 1px solid #DBDBDB;}
.tabs-rotativo-horizontal .bt-esquerdo a {display: block;width: 80px;height: 25px;float: left;background: url('/layout/images/bt-esq.png') no-repeat top;}
.tabs-rotativo-horizontal .bt-esquerdo a:hover {background: url('/layout/images/bt-esq-h.png') no-repeat top;}
.tabs-rotativo-horizontal .bt-direito a {display: block;width: 80px;height: 25px;float: right;background: url('/layout/images/bt-dir.png') no-repeat top;}
.tabs-rotativo-horizontal .bt-direito a:hover {background: url('/layout/images/bt-dir-h.png') no-repeat top;}
.tabs-rotativo-horizontal a, .tabs-rotativo-horizontal a:hover, .tabs-rotativo-horizontal a:focus, .tabs-rotativo-horizontal a.selected {text-decoration: none;border: none;outline: none;}
.tabs-rotativo-horizontal .contador{font: normal 11px arial !important;color:#999;}

/* 
=====================================================
	BLOCO  ROTATIVO COM THUMB
=====================================================
*/

.bloco-rotativo-thumb {width:641px !important;overflow:hidden;}
.bloco-rotativo-thumb .titulo-organizador{}
.bloco-rotativo-thumb ul{}
.bloco-rotativo-thumb li {background:none;padding-left:0px;margin-left:-10px;width:690px !important;overflow:hidden;}
.bloco-rotativo-thumb li a {}
.bloco-rotativo-thumb li a:active{}
.bloco-rotativo-thumb li a:hover{}
.bloco-rotativo-thumb li a img{}
.bloco-rotativo-thumb .bloco-titulo-grande, .bloco-rotativo-thumb .bloco-titulo-grande a, .bloco-rotativo-thumb .bloco-titulo-grande a:visited {font:normal 28px arial;color:#FFF;padding-left:20px;padding-right:20px;padding-bottom:10px;position:relative;}
.bloco-rotativo-thumb .span {}
.bloco-rotativo-thumb .categoria {color: #FF3800; position:relative;margin-top:100px;margin-left:20px;}
.bloco-rotativo-thumb .titulo-rotativo-thumb{background:url('/layout/images/bg-rotativo-thumb.png') no-repeat bottom;position:absolute;width:640px;height:200px;top: 200px;left:0px;display: inline-block;}
.bloco-rotativo-thumb .pagination-rotativo-thumb{margin-top:3px;}
.bloco-rotativo-thumb .pagination-rotativo-thumb a {width:125px;height:90px;display:inline-block;}
.bloco-rotativo-thumb .pagination-rotativo-thumb a:hover img, .bloco-rotativo-thumb .pagination-rotativo-thumb a.active img {position:relative;margin-top: -3px;z-index:-1;}
.bloco-rotativo-thumb .pagination-rotativo-thumb a:hover, .bloco-rotativo-thumb .pagination-rotativo-thumb a.active {border-top:3px solid rgba(255, 56, 0, 0.8);display: inline-block;}
.bloco-rotativo-thumb .bx-controls-direction {display:none;}
.bloco-rotativo-thumb .bx-viewport{height:400px !important;}
/*
=====================================================
	BLOCO ROTATIVO WIDE
=====================================================
*/

.bloco-rotativo-wide {z-index: 0; }
.bloco-rotativo-wide a:hover{text-decoration:none;}
.bloco-rotativo-wide .bloco-titulo-grande, .bloco-rotativo-wide .bloco-titulo-grande a, .bloco-rotativo-wide .bloco-titulo-grande a:visited {color: #FFF;font-size: 22px;text-decoration: none;width: 90%;padding-left: 10px;}
.bloco-rotativo-wide .categoria {position:absolute;bottom:75px;left:0px;padding: 5px;color: #FFF;background-color: rgba(0, 0, 0, 0.8);}
.bloco-rotativo-wide .titulo-wide {position:relative;display: block;margin-top: 0px;height: 80px;overflow: hidden;width: 100%;background-color: rgba(0, 0, 0, 0.8);text-decoration:none !important;}
.bloco-rotativo-wide .titulo-wide .bloco-titulo-grande{padding-left:50px;padding-right:50px;padding-top:20px;}
.tabs-rotativo-wide {z-index:20;margin-top: -55px;height: 25px;width: 100%;}
.tabs-rotativo-wide .bt-esquerdo a {position:relative;margin-left:20px;z-index:20;width: 16px;height: 30px;float: left;background: url('/layout/images/bt-esq.png') no-repeat top;}
.tabs-rotativo-wide .bt-esquerdo a:hover {z-index:20;width: 16px;height: 30px;background: url('/layout/images/bt-esq-h.png') no-repeat top;}
.tabs-rotativo-wide .bt-direito a {position:relative;margin-right:20px;z-index:20;width: 16px;height: 30px;float: right;background: url('/layout/images/bt-dir.png') no-repeat top;}
.tabs-rotativo-wide .bt-direito a:hover {z-index:20;width: 16px;height: 30px;background: url('/layout/images/bt-dir-h.png') no-repeat top;}
.tabs-rotativo-wide a, .tabs-rotativo-wide a:hover, .tabs-rotativo-wide a:focus, .tabs-rotativo-wide a.selected {text-decoration: none;border: none;outline: none;}

/*
=====================================================
	BLOCO ROTATIVO QUADRADO
=====================================================
*/

.bloco-rotativo-quadrado {z-index: 0;position: relative}
.bloco-rotativo-quadrado a:hover{text-decoration:none;}
.bloco-rotativo-quadrado .bloco-titulo-grande, .bloco-rotativo-quadrado .bloco-titulo-grande a, .bloco-rotativo-quadrado .bloco-titulo-grande a:visited {color: #FFF;font-size: 22px;text-decoration: none;width: 90%;padding-left: 10px;}
.bloco-rotativo-quadrado .categoria {position:absolute;bottom:75px;left:0px;padding: 5px;color: #FFF;background-color: rgba(0, 0, 0, 0.8);}
.bloco-rotativo-quadrado .titulo-quadrado {position:relative;display: block;margin-top: 0px;height: 80px;overflow: hidden;width: 100%;background-color: rgba(0, 0, 0, 0.8);text-decoration:none !important;}
.bloco-rotativo-quadrado .titulo-quadrado .bloco-titulo-grande{padding-left:50px;padding-right:50px;padding-top:20px;}
.tabs-rotativo-quadrado {position:relative;z-index:20;margin-top: -55px;height: 25px;width: 100%;}
.tabs-rotativo-quadrado .bt-esquerdo a {position:relative;margin-left:20px;z-index:20;width: 16px;height: 30px;float: left;background: url('/layout/images/bt-esq.png') no-repeat top;}
.tabs-rotativo-quadrado .bt-esquerdo a:hover {z-index:20;width: 16px;height: 30px;background: url('/layout/images/bt-esq-h.png') no-repeat top;}
.tabs-rotativo-quadrado .bt-direito a {position:relative;margin-right:20px;z-index:20;width: 16px;height: 30px;float: right;background: url('/layout/images/bt-dir.png') no-repeat top;}
.tabs-rotativo-quadrado .bt-direito a:hover {z-index:20;width: 16px;height: 30px;background: url('/layout/images/bt-dir-h.png') no-repeat top;}
.tabs-rotativo-quadrado a, .tabs-rotativo-quadrado a:hover, .tabs-rotativo-quadrado a:focus, .tabs-rotativo-quadrado a.selected {text-decoration: none;border: none;outline: none;}

}

@media print {
#area-dinamica,#data,#header-banner-content,#header-banner-top,#header-links-bottom,
#search,#googleimg,#caixa-menu,#menu, #comentario_rotativo,
#sidebar-block, .noprn,  #caixa-rodape, #breadcrumbs, table {display: none;}
 .hr,#page-container,#page-block,#content-wrapper, #logo,.caixa-padrao,
.caixa-padrao-com-borda,.caixa-personalizada,.conteudo-relacionado,.conteudo-relacionado-lista,
blockquote,.has_zoom, .hidden, .lista-titulo-grande,.lista-titulo-medio,.lista-titulo-pequeno,
.bloco-titulo-grande,.bloco-titulo-medio,.bloco-titulo-pequeno,.data,.categoria, .resumo, .borda,
.lista-blog, .blog-button,.blog-status-container, .blog-comments, .lista-1-coluna, .lista-2-colunas, 
.lista-3-colunas, .lista-compacta-com-hora, .lista-compacta-com-data, .lista-mini-compacta-com-hora,
.lista-mini-compacta-com-data, .lista-3-colunas-full, .lista-4-colunas-full, .bloco-vertical-grande,
.bloco-vertical-medio,.bloco-vertical-pequeno,.bloco-horizontal-grande, .bloco-horizontal-medio, 
.bloco-quadrado-categoria-titulo, .bloco-quadrado-foto-autor, .bloco-texto-grande, .bloco-texto-medio,
.bloco-agenda, .bloco-texto-pequeno, .bloco-titulo-data, .bloco-titulo-categoria, .bloco-titulo-marcador,
.sliderkit, .sliderkit-nav, .sliderkit-nav-clip, .sliderkit-count, .sliderkit-nav-btn, .sliderkit-nav-prev,
.sliderkit-nav-next,  .sliderkit-btn-disable, .scroll-vertical-li, .scroll-vertical, .bloco-rotativo-padrao,
.bt-esquerdo, .tabs-rotativo-padrao, .bt-direito, .contador, .bloco-rotativo-wide, .titulo-wide, .tabs-rotativo-wide,
.rotativo-personalizado, .scroll-personalizado, #newsletter, .lista-links,.tabs_component,.tab_default,
ul, li, ul li, .tabs_content, p, .tab_default_vertical,.columns, .tab_default_vertical ul li,
.conteudo-relacionado-lista .lista-titulo-pequeno, .conteudo-relacionado-lista .lista-titulo-pequeno a,
.conteudo-relacionado-lista .lista-titulo-pequeno a:visited, .conteudo-relacionado .bx_title,
.conteudo-relacionado .bT,.caixa-padrao .bx_footer, .caixa-padrao-com-borda .bx_footer,.caixa-padrao .bx_title, 
.caixa-padrao-com-borda .bx_title,.caixa-padrao .bx_links, .caixa-padrao-com-borda .bx_links, 
.caixa-personalizada .bx,.caixa-personalizada .bx_title,
.caixa-personalizada .bx_links, .caixa-personalizada .bx_footer,tbody td,th, td, thead th, thead td, thead, table td,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus, 
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited, h1 a:hover, h2 a:hover, 
h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,h1, h2, h3, h4, h5, h6,a, a:hover,a:focus, a:visited,
.lista-titulo-grande, .lista-titulo-grande a, .lista-titulo-grande a:hover, .lista-titulo-grande a:visited,
.lista-titulo-medio, .lista-titulo-medio a, .lista-titulo-medio a:hover, .lista-titulo-medio a:visited,
.lista-titulo-pequeno, .lista-titulo-pequeno a, .lista-titulo-pequeno a:hover, .lista-titulo-pequeno a:visited,
.bloco-titulo-grande, .bloco-titulo-grande a, .bloco-titulo-grande a:hover, .bloco-titulo-grande a:visited,
.bloco-titulo-medio, .bloco-titulo-medio a, .bloco-titulo-medio a:hover, .bloco-titulo-medio a:visited,
.bloco-titulo-pequeno, .bloco-titulo-pequeno a, .bloco-titulo-pequeno a:hover, .bloco-titulo-pequeno a:visited,
.lista-1-coluna .lista-titulo-grande, .lista-1-coluna .lista-titulo-grande a, .lista-1-coluna .lista-titulo-grande a:visited,
.lista-2-colunas .lista-titulo-grande, .lista-2-colunas .lista-titulo-grande a, .lista-2-colunas .lista-titulo-grande a:visited,
.lista-3-colunas .lista-titulo-medio, .lista-3-colunas .lista-titulo-medio a, .lista-3-colunas .lista-titulo-medio a:visited ,
.lista-compacta-com-hora .lista-titulo-medio, .lista-compacta-com-hora .lista-titulo-medio a, .lista-compacta-com-hora .lista-titulo-medio a:visited,
.lista-compacta-com-data .lista-titulo-medio, .lista-compacta-com-data .lista-titulo-medio a, .lista-compacta-com-data .lista-titulo-medio a:visited,
.lista-mini-compacta-com-hora .lista-titulo-pequeno, .lista-mini-compacta-com-hora .lista-titulo-pequeno a, .lista-mini-compacta-com-hora .lista-titulo-pequeno a:visited ,
.lista-mini-compacta-com-data .lista-titulo-pequeno, .lista-mini-compacta-com-data .lista-titulo-pequeno a, .lista-mini-compacta-com-data .lista-titulo-pequeno a:visited,
.lista-3-colunas-full .lista-titulo-grande, .lista-3-colunas-full .lista-titulo-grande a, .lista-3-colunas-full .lista-titulo-grande a:visited,
.lista-4-colunas-full .lista-titulo-medio, .lista-4-colunas-full .lista-titulo-medio a, .lista-4-colunas-full .lista-titulo-medio a:visited,
.bloco-vertical-grande .bloco-titulo-grande, .bloco-vertical-grande .bloco-titulo-grande a, .bloco-vertical-grande .bloco-titulo-grande a:visited,
.bloco-vertical-medio .bloco-titulo-medio, .bloco-vertical-medio .bloco-titulo-medio a, .bloco-vertical-medio .bloco-titulo-medio a:visited,
.bloco-vertical-pequeno .bloco-titulo-pequeno, .bloco-vertical-pequeno .bloco-titulo-pequeno a, .bloco-vertical-pequeno .bloco-titulo-pequeno a:visited,
.bloco-horizontal-grande .bloco-titulo-grande, .bloco-horizontal-grande .bloco-titulo-grande a, .bloco-horizontal-grande .bloco-titulo-grande a:visited,
.bloco-horizontal-medio .bloco-titulo-medio, .bloco-horizontal-medio .bloco-titulo-medio a, .bloco-horizontal-medio .bloco-titulo-medio a:visited,
.bloco-quadrado-categoria-titulo .bloco-titulo-medio, .bloco-quadrado-categoria-titulo .bloco-titulo-medio a, .bloco-quadrado-categoria-titulo .bloco-titulo-medio a:visited,
.bloco-quadrado-foto-autor .bloco-titulo-medio, .bloco-quadrado-foto-autor .bloco-titulo-medio a, .bloco-quadrado-foto-autor .bloco-titulo-medio a:visited,
.bloco-texto-grande .bloco-titulo-grande, .bloco-texto-grande .bloco-titulo-grande a, .bloco-texto-grande .bloco-titulo-grande a:visited,
.bloco-texto-medio .bloco-titulo-medio, .bloco-texto-medio .bloco-titulo-medio a, .bloco-texto-medio .bloco-titulo-medio a:visited,
.bloco-agenda .bloco-titulo-medio, .bloco-agenda .bloco-titulo-medio a, .bloco-agenda .bloco-titulo-medio a:visited,
.bloco-texto-pequeno .bloco-titulo-pequeno, .bloco-texto-pequeno .bloco-titulo-pequeno a, .bloco-texto-pequeno .bloco-titulo-pequeno a:visited,
.bloco-titulo-data .bloco-titulo-pequeno, .bloco-titulo-data .bloco-titulo-pequeno a, .bloco-titulo-data .bloco-titulo-pequeno a:visited,
.bloco-titulo-categoria .bloco-titulo-pequeno, .bloco-titulo-categoria .bloco-titulo-pequeno a, .bloco-titulo-categoria .bloco-titulo-pequeno a:visited,
.bloco-titulo-marcador .bloco-titulo-pequeno, .bloco-titulo-marcador .bloco-titulo-pequeno a, .bloco-titulo-marcador .bloco-titulo-pequeno a:visited{
  display: block;
}
}
