@-moz-document url-prefix() {
#menu ul li a{
	height:60px !important;
	font:bold 16px 'Arial' !important;
	background: none;
	list-style: none !important;
	padding-left: 17px;
	padding-right: 16px;
	line-height: 60px;
	color: #444;
}
#menu ul ul ul {
	z-index: 1000 !important;
	margin-left:0px;
	left: 100%;
	top:auto;
	position:absolute;
	margin-top:-41px !important;
	border: 1px solid #AAA;
}

}