/* 
=====================================================
	MENU PRINCIPAL
=====================================================
*/

#caixa-menu {height:60px;position: relative;background:#f5f5f5;border-bottom:1px solid #AAA;}
#menu * {margin: 0;padding: 0;}
#menu {width: 960px !important;margin:0 auto;*position: relative;z-index: 1000 !important;border-top:1px solid #AAA;}
#menu a {color:#444;height:60px;text-decoration: none;text-transform: uppercase;}
#menu ul {list-style: none;float:right;width:910px;margin: 0;}
#menu ul li a{height:60px !important;font:bold 16px 'Arial' !important;background: none;list-style: none !important;padding-left: 17px;padding-right: 16px;line-height: 60px;color: #444;}
#menu ul li a span{position:relative;top:10px;}
#menu .capa a{float: left;display: block;height: 60px;font-weight: bold;font-size: 16px;font-family: 'Arial' !important;padding-left:0px;padding-right:0px;line-height: 60px;color: #444;text-decoration: none;text-transform: uppercase;}
#menu .capa a:hover{color: #FE3F04;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:-21px;}
#menu .capa a.active{color: #FE3F04;}
#menu ul ul li {*position: relative;z-index: 1000 !important;height:35px !important;}
#menu ul ul ul li {*position: relative;z-index: 1000 !important;padding: 5px 10px 5px 10px;}
/*LEVEL ONE*/
#menu ul {z-index: 1000 !important;position: relative;height:60px;}
#menu ul li {font-weight: normal !important;float: left;height:60px;text-align: left;zoom: 1;background-image:none;}
#menu ul li a span{height:60px;line-height:40px;}
#menu ul li.first {padding-left: 0px !important;}/* Doesn't work in IE */
#menu ul li.hover, #menu ul li:hover, #menu ul li.hover ul, #menu ul li:hover ul{background: transparent;color: #FE3F04;}
#menu ul li.hover ul, #menu ul li:hover ul{margin-top:0px;border-bottom:1px solid #AAAAAA;border-right:1px solid #AAAAAA;border-left:1px solid #AAAAAA;}
#menu ul li.hover a, #menu ul li:hover a {margin-bottom:21px;color: #FE3F04;background-color: transparent;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:0px;}
#menu ul li a {display: block;color: #444;}
#menu ul li a:hover, #menu ul li.selected a.active:hover, #menu ul li.selected:hover a.active {color: #FE3F04;background-image:url('/layout/images/seta-menu.png');background-position: bottom;background-repeat:no-repeat;padding-bottom:-21px;}
#menu ul li a.active {color: #FE3F04;background:transparent;}
#menu ul li:last-child {}/* Doesn't work in IE */
/*LEVEL TWO*/
#menu ul ul {display:block;z-index: 1000 !important;margin-left: 35px;width:160px;height:auto;background-color: #FFF !important;visibility: hidden;position: absolute;top: 100%;margin-top:0px;color: #444 !important;border: none;padding-top: 0px;padding-bottom: 0px;}
#menu ul ul li {z-index: 1000 !important;font-weight: normal;background-color: #FFF !important;color: #444 !important;border-bottom:1px solid #DDD !important;float: none;}
#menu ul ul li:last-child {padding-bottom: 0px;border-bottom:none !important;}
/* IE 6 & 7 Needs Inline Block */
#menu ul ul li a {background-image:none;background-color:#FFF !important;padding:0px;overflow:hidden;height: 35px !important;line-height:25px !important;font:normal 16px arial !important;*position: relative;color: #444 !important;margin-top:0px !important;margin-bottom:0px !important;z-index: 1000 !important;text-transform: none !important;width: 100%;display: inline-block;}
#menu ul li ul li a span{top:0px;padding:0px 0px 0px 10px;}
#menu ul li.hover ul li a, #menu ul li:hover ul li a{background-image:none !important;}
#menu ul ul li a:hover {height: 35px !important;line-height:25px !important;overflow:hidden;background: #EEE !important;color: #FE3F04 !important;}
/*LEVEL THREE*/
#menu ul ul ul {z-index: 1000 !important;margin-left:0px;left: 100%;top:auto;position:absolute;margin-top:0px !important;border: 1px solid #AAA;}
#menu ul li:hover > ul {z-index: 1000 !important;visibility: visible;color: #444 !important;}
#menu ul ul ul li {padding:0px;}
#menu ul ul ul li:last-child {}
#menu ul ul ul li a {}
#menu ul li ul li ul li a span{}

/* 
=====================================================
	COMPONENTE BUSCA
=====================================================
*/

#search {width: 240px;height: 32px;border: 1px solid #DDD;position: relative;margin-right: 0px;margin-top: 0px;background: url("/layout/images/bg-search.png") repeat-x top;}

/*
=====================================================
	BUTTONS
=====================================================
*/
a.button, button {border:none;background: url('/layout/images/but-sdoor-left.gif') no-repeat;}
a.button span, button span {margin-top:-1px;margin-right:-1px;background: url('/layout/images/but-sdoor-right.gif') no-repeat right;color: #444;}
a.button:hover, button:hover, a.sel, button.hover {border:none;background: url('/layout/images/but-sdoor-left-over.gif') no-repeat !important;}
a.button:hover span, button:hover span, a.sel span, button.hover span {background: url('/layout/images/but-sdoor-right-over.gif') no-repeat right !important;color: #FFF;}
a.button:active, button:active, button.active {border:none;background: url('/layout/images/but-sdoor-left-hit.gif') no-repeat;}
a.button:active span, button:active span, button.active span {background: url('/layout/images/but-sdoor-right-hit.gif') no-repeat right;}

/* 
=====================================================
	BLOCO  ROTATIVO COM THUMB
=====================================================
*/
.bloco-rotativo-thumb .pagination-rotativo-thumb a img{position:relative;margin-top: -3px;z-index:-1;}
.bloco-rotativo-thumb .pagination-rotativo-thumb a:hover, .bloco-rotativo-thumb .pagination-rotativo-thumb a.active {border-top:3px solid #FF3800;display: inline-block;filter:alpha(opacity=80);}

/* 
=====================================================
	COMENTÁRIO DEFAULT
=====================================================
*/
.comments_default #mostrar {
	width:295px;
	height:49px;
	background-color: transparent;
	filter: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	background-image:url('/layout/images/comentarion.png');
	background-repeat:no-repeat;
	background-position: top left;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 14px;
	text-decoration: none;
	text-shadow: 1px 1px 2px #ffffff;
	cursor: pointer;
}
.comments_default #mostrar:hover {
	background-color: transparent !important;
	filter: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	background-image:url('/layout/images/comentarioh.png') !important;
	background-repeat:no-repeat;
	background-position: top left;
	display: inline-block;
}
.comments_default #mostrar img{margin-top:10px;}
.comments_default #mostrar h3{margin-top:13px;}
.comments_default_form .comments_mensagem {float:left;}
.comments_default_form .comments_mensagem label{width:300px !important;}

/* 
=====================================================
	BLOCO TEXTO TÍTULO COM MARCADOR
=====================================================
*/

.bloco-titulo-marcador {}
.bloco-titulo-marcador img{padding-top: 0px;}
.bloco-titulo-marcador .bloco-titulo-pequeno, .bloco-titulo-marcador .bloco-titulo-pequeno a, .bloco-titulo-marcador .bloco-titulo-pequeno a:visited {}
.bloco-titulo-marcador div.fl{padding-top:0px !important;height:0px;}
