<!-- { set_cache_expiration: 300 } -->
<!-- { editable_area: HTML ou CSS, sra_html_area, 0, 0 } -->
<!-- { editable_area: Conteúdo, content_area, 960, 0 } -->
<!-- { editable_area: Bloco Lateral, sra_barra_lateral, 240, 0 } -->
<!-- { unique_editable_area: Logomarca, logo, 160, 60 } -->
<!-- { unique_editable_area: Frase Topo, frase_topo, 350, 40 } -->
<!-- { unique_editable_area: Rodapé, rodape, 720, 0 } -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
	<title contents_from="{ @site_title }">Bimboo Básico</title>
	<?= core::google_apps(); ?>
	<link rel="stylesheet" href="/layout/css/estilo.css" type="text/css" />
	<link rel="icon" type="image/ico" href="/layout/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/layout/favicon.ico" />
	<?= $sra_html_area ?>
</head>
<body>

<div id="page-wrapper" class="main">

	<div id="page-container">
		<div id="page-block">
			<div id="header-wrapper">
				<div id="header" class="cbf">
					<div id="logo">
						<div class="cbf" contents_from="{ @logo }"></div>
					</div>
					<div id="frase-topo" class="">
						<div class="cbf" contents_from="{ @frase_topo }"></div>
					</div>
					<div id="search" class="">
						<form method="get" id="sitesearch" style="border:none;" name="sitesearch" action="/buscar" class="form">
							<input id="busca" class="campo" type="text" name="q" value="" />
							<img id="bt-search" src="/layout/images/lupa.png" width="20" height="20" alt="" />
							<div id="imgbusca">
							  <img onclick="document.sitesearch.submit()" id="bt-buscar" src="/layout/images/botao-search.png" width="62" height="35" alt="Buscar" />	
							</div>
						</form>
					</div>
					<div id="caixa-menu">
						<div id="menu"><?= str_replace("\n",'',build_menu_for_2( bimboo_getTopMenu(Array(Array('name'=>'Home','url'=>'/','depth'=>0))) )); ?></div>
					</div>
				</div>
			</div>
				
			<div id="content-wrapper">
				<div id="content-container" class="cbf">
					<div id="content-block" class="cbf" contents_from="{ @content_area }">
						#content
					</div>
				</div>
			</div>

			<div id="caixa-rodape">
				<div id="footer-wrapper" class="cbf">
					<div id="footer" class="">
						<p>Bimboo Software© 2012 - Todos os direitos reservados - Desenvolvido por: <a href="#" target="_blank">Nome da Agência</a></p>
						<div id="rodape" class="">
							<div contents_from="{ @rodape }"></div>
						</div>
					</div>
					<div id="bimboo">
						<a href="http://www.bimboo.com.br/" target="_blank"><img src="/layout/images/logo-bimboo.png" width="120" height="45" /></a>
					</div>
				</div>
			</div>

		</div>
	</div>
<div id="page-wrapper2"></div>
</div>

<script type="text/javascript">
//<![CDATA[
	function auto_input_tip( el , default_value ) {
		var nwn = $(el);
		if (nwn == null) return;
		if (nwn.get('value') == '') nwn.set('value',default_value);
		nwn.addEvent('focus', function() {
			if (this.value == default_value) this.value = '';
		});
		nwn.addEvent('blur', function() {
			if (this.value == '') this.value = default_value;
		});
	}
		window.addEvent('domready', function() {
			auto_input_tip( 'busca', 'Busca' );
		});
//]]>
</script>

<?= core::analytics_code(); ?>


</body>
</html>