<!-- { set_cache_expiration: 300 } -->
<!-- { editable_area: HTML ou CSS, sra_html_area, 0, 0 } -->
<!-- { editable_area: Conteúdo, content_area, 680, 0 } -->
<!-- { editable_area: Bloco Lateral, sidebar_area, 240, 0 } -->
<!-- { editable_area: Bloco Lateral, sra_barra_lateral, 240, 0 } -->
<!-- { unique_editable_area: Logomarca, logo, 240, 60 } -->
<!-- { unique_editable_area: Rodapé, rodape, 960, 0 } -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
	<title contents_from="{ @page.title | append: ' - ' | @site_title }">Título da Página</title>
	<link rel="stylesheet" href="/layout/css/estilo.css" type="text/css" />
	<!--[if IE 7]>
		<link rel="stylesheet" href="/layout/css/ie7.css" type="text/css" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" href="/layout/css/ie8.css" type="text/css" />
	<![endif]-->
	<!--[if gte IE 9]>
		<link rel="stylesheet" href="/layout/css/ie9.css" type="text/css" />
	<![endif]-->
	<link rel="stylesheet" href="/layout/css/firefox.css" type="text/css" />
	<link rel="icon" type="image/ico" href="/layout/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/layout/favicon.ico" />
	<?= $sra_html_area ?>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			var altura = jQuery('#page-container').height();
			if(altura < 900){
				jQuery("#caixa-rodape").addClass("modificado");
			}
		});
	</script>
</head>
<body>

<div id="page-wrapper-interna" class="main">
	<div id="page-container">
		<div id="page-block">

			<div id="header-wrapper">
				<div id="header" class="cbf">
					<div id="logo">
						<div class="cbf" contents_from="{ @logo }"></div>
					</div>
				</div>
				<div id="caixa-menu">
					<div id="menu"><?= str_replace("\n",'',build_menu_for_2( bimboo_getTopMenu(Array(Array('name'=>'Home','url'=>'/','depth'=>0))) )); ?></div>
				</div>
			</div>

			<div id="content-wrapper" class="cbf">
				<div id="breadcrumbs" class="cbf">
					<div walk_using="{ @breadcrumb_without_last }"><div class="breadcrumb"><a href_from="{ @breadcrumb_without_last.url }"><span contents_from="{ @breadcrumb_without_last.name }"></span></a> |</div></div>
					<div class="breadcrumb_current"><span contents_from="{ @page.title }">Pagina Atual</span></div>
				</div>
				<div id="content-container" class="cbf">
					<div id="sidebar-block" class="fr">
						<div id="sidebar-menu">
							<?
								$sidebar_menu_html = build_Navigation(true,false,2);
								if (strlen($sidebar_menu_html)) {
							?>
							<div class="">
								<?= $sidebar_menu_html ?>
							</div>
							<? } ?>
						</div>
						<div id="barra-lateral">
							<div class="barra-lateral-exclusiva" contents_from="{ @sidebar_area }"></div>
							<div class="barra-lateral-recursiva" contents_from="{ @sra_barra_lateral }"></div>
						</div>
					</div>
					<div id="content" class="fl">
						<div id="content-block">
							<h1 id="internal-title" contents_from="{ @page.title }">Título do Site</h1>
							<div id="content-text" class="cbf" contents_from="{ @content_area }"></div>
						</div>
					</div>
				</div>
			</div>

			<div id="caixa-rodape">
				<div id="footer-wrapper" class="cbf">
					<div id="footer" class="">
						<div id="rodape" class="">
							<div contents_from="{ @rodape }"></div>
						</div>
					</div>
					<div id="bimboo">
						<a href="http://www.bimboo.com.br/" target="_blank">Powered by bimboo © 2013 - Todos os direitos reservados</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<?= core::analytics_code(); ?>

</body>
</html>