<!-- { set_cache_expiration: 300 } -->
<!-- { editable_area: HTML ou CSS, sra_html_area, 0, 0 } -->
<!-- { editable_area: Conteúdo, content_area, 640, 0 } -->
<!-- { editable_area: Bloco Lateral, sidebar_area, 300, 0 } -->
<!-- { editable_area: Bloco Lateral, sra_barra_lateral, 300, 0 } -->
<!-- { unique_editable_area: Header Logomarca, logo, 220, 60 } -->
<!-- { unique_editable_area: Header Previsão do Tempo, tempo, 300, 80 } -->
<!-- { unique_editable_area: Footer Rodapé, rodape, 720, 0 } -->
<!-- { unique_editable_area: Footer Colunas, colunas, 960, 0 } -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
	<title contents_from="{ @page.title | append: ' - ' | @site_title }">Título da Página</title>
	<link rel="stylesheet" href="/layout/css/estilo.css" type="text/css" />
	<link rel="icon" type="image/ico" href="/layout/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/layout/favicon.ico" />
	<?= $sra_html_area ?>
</head>
<body>

<div id="page-wrapper" class="main">
	<div id="page-container">
		<div id="page-block">
			<div id="header-wrapper">
				<div id="header" class="cbf">
					<div id="logo">
						<div class="cbf" contents_from="{ @logo }"></div>
					</div>
					<div id="tempo" class="">
						<div class="cbf" contents_from="{ @tempo }"></div>
					</div>
					<div id="search" class="">
						<div class="search-caixa">
							<form action="/buscar" id="cse-search-box">
								<input type="hidden" name="cx" value="<?= core::$configuration->google_search_code?>" />
								<input type="hidden" name="cof" value="FORID:11" />
								<input type="hidden" name="ie" value="UTF-8" />
								<input class="search-texto" type="text" name="q" size="30" style="background:#FFF;border:none;height:30px;overflow:hidden;padding-top:1px;padding-bottom:0px;line-height:28px;width:200px;margin-top:1px;margin-left:35px" />
								<input class="search-imagem" type="image" name="sa" src="/layout/images/botao-search.png" width="60" height="34" style="" />
							</form>
							<div class="lupa"></div>
						</div>
					</div>
					<div id="caixa-menu">
						<div id="menu"><?= str_replace("\n",'',build_menu_for_2( bimboo_getTopMenu(Array(Array('name'=>'Home','url'=>'/','depth'=>0))) )); ?></div>
					</div>
				</div>
			</div>
			<div id="sidebar-menu">
				<?
				$sub_menu = build_Navigation(true,true);
				$bcopy = $breadcrumb;
				array_pop($bcopy);
				$bcopy = array_reverse($bcopy);
				array_pop($bcopy);
				$bcopy = array_reverse($bcopy);
				$i=0;
				$is_menu = true;
				if ($page->content_node->is_new()) {
					$is_menu=false;
				}
				foreach ($bcopy as $link) {
					if (($is_menu == false) && (count($bcopy)==1)) {
						?><a class="unique" href="<?= $link['url'] ?>"><span><?= $link['name'] ?></span></a><?
					}
					else {
						?><a <? if ($i==0) { echo ' class="first" '; } else if (($i==(count($bcopy)-1) && ($is_menu==false))) { echo ' class="last" '; } ?>href="<?= $link['url'] ?>"><span><?= $link['name'] ?></span></a><?
					}
						$i++;
					}
					if ($is_menu) { ?><a <? if ($i > 0) { ?>class="last"<? } else { ?>class="unique"<? } ?> href="<?= web::document_url() . '/'. $page->url ?>"><span><?= $page->title ?></span></a><? } ?><?= str_replace("\n",'',$sub_menu) ?>
			</div>
			<div id="content-wrapper" class="cbf">
				<div class="fl" id="sidebar-block">
					<div id="barra-lateral">
						<div class="barra-lateral-exclusiva" contents_from="{ @sidebar_area }"></div>
						<div class="barra-lateral-recursiva" contents_from="{ @sra_barra_lateral }"></div>
					</div>
				</div>
				<div class="fr" id="content">
					<div id="content-block">
						<div id="content-text" class="cbf" contents_from="{ @content_area }"></div>
					</div>
				</div>
			</div>

			<div id="caixa-rodape">
				<div id="colunas" contents_from="{ @colunas }"></div>
				<div id="footer-wrapper" class="cbf">
					<div id="footer" class="">
						<p>Bimboo News© 2012 - Todos os direitos reservados - Desenvolvido por: <a href="#" target="_blank">Nome da Agência</a></p>
						<div id="rodape" class="">
							<div id="rodape" contents_from="{ @rodape }"></div>
						</div>
					</div>
					<div id="bimboo">
						<a href="http://www.bimboo.com.br/" target="_blank"><img src="/layout/images/logo-bimboo.png" width="120" height="14" /></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
<div id="page-wrapper2"></div>
</div>

<?= core::analytics_code(); ?>
</body>
</html>