<div id="search" class="">
	<div class="search-caixa">
		<form action="/buscar" id="cse-search-box">
			<input type="hidden" name="cx" value="<?= core::$configuration->google_search_code?>" />
			<input type="hidden" name="cof" value="FORID:11" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input id="busca" class="search-texto" type="text" name="q" value="" size="30" style="" />
			<input class="search-imagem" type="image" name="sa" src="/layout/images/lupa.png" width="16" height="16" style="" />
		</form>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
	function auto_input_tip( el , default_value ) {
		var nwn = $(el);
		if (nwn == null) return;
		if (nwn.get('value') == '') nwn.set('value',default_value);
		nwn.addEvent('focus', function() {
			if (this.value == default_value) this.value = '';
		});
		nwn.addEvent('blur', function() {
			if (this.value == '') this.value = default_value;
		});
	}
		window.addEvent('domready', function() {
			auto_input_tip( 'busca', 'enhanced by Google' );
		});
//]]>
</script>